<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>App Setting</title>
    <link href="appSetting.css" rel="stylesheet">
</head>

<body>
    <div>
        <select id="language">
            <option value="en">英語 / English</option>
            <option value="ja">日本語 / Japanese</option>
        </select>
        <label for="language">
            言語 / Language
        </label>
    </div>

    <div>
        <input type="range" id="opacity" min="10" max="100" />
        <label for="opacity" id="Label_Opacity">
        </label>
    </div>

    <div>
        <input type="checkbox" id="alwaysOnTop" />
        <label for="alwaysOnTop" id="Label_AlwaysOnTop">
        </label>
    </div>

    <button id="okbutton">OK</button>
    <script src="appSetting.js"></script>
</body>

</html>