<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>App Setting</title>
    <link href="appSetting.css" rel="stylesheet">
</head>

<body>
    <div>
        <label for="opacity">
            <input type="range" id="opacity" min="10" max="100" />
            不透明度
        </label>
    </div>

    <div>
        <label for="alwaysOnTop">
            <input type="checkbox" id="alwaysOnTop" />
            最前面表示
        </label>
    </div>

    <button id="okbutton">OK</button>
    <script src="appSetting.js"></script>
</body>

</html>