<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Chat Log Setting</title>
    <link href="chatSetting.css" rel="stylesheet">
</head>

<body>
    <div>
        <input type="checkbox" id="ignoreLobyAction" />
        <label for="ignoreLobyAction" id="Label_ignoreLobyAction">
        </label>
    </div>

    <div>
        <input type="checkbox" id="ignoreMyFashion" />
        <label for="ignoreMyFashion" id="Label_ignoreMyFashion">
        </label>
    </div>

    <div>
        <input type="checkbox" id="ignoreStamp" />
        <label for="ignoreStamp" id="Label_ignoreStamp">
        </label>
    </div>

    <div>
        <input type="checkbox" id="ignoreUioff" />
        <label for="ignoreUioff" id="Label_ignoreUioff">
        </label>
    </div>

    <div>
        <input type="checkbox" id="ignoreCameraEye" />
        <label for="ignoreCameraEye" id="Label_ignoreCameraEye">
        </label>
    </div>

    <div>
        <input type="checkbox" id="ignoreCutin" />
        <label for="ignoreCutin" id="Label_ignoreCutin">
        </label>
    </div>

    <button id="okbutton">OK</button>
    <script src="chatSetting.js"></script>
</body>

</html>