<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Chat Log Setting</title>
    <link href="chatSetting.css" rel="stylesheet">
</head>

<body>
    <div>
        <label for="ignoreLobyAction">
            <input type="checkbox" id="ignoreLobyAction" />
            ロビーアクション を表示しない
        </label>
    </div>

    <div>
        <label for="ignoreMyFashion">
            <input type="checkbox" id="ignoreMyFashion" />
            マイファッション を表示しない
        </label>
    </div>

    <div>
        <label for="ignoreStamp">
            <input type="checkbox" id="ignoreStamp" />
            スタンプ を表示しない
        </label>
    </div>

    <div>
        <label for="ignoreUioff">
            <input type="checkbox" id="ignoreUioff" />
            UIOFF を表示しない
        </label>
    </div>

    <div>
        <label for="ignoreCameraEye">
            <input type="checkbox" id="ignoreCameraEye" />
            カメラ目線 を表示しない
        </label>
    </div>

    <div>
        <label for="ignoreCutin">
            <input type="checkbox" id="ignoreCutin" />
            カットイン を表示しない
        </label>
    </div>

    <button id="okbutton">OK</button>
    <script src="chatSetting.js"></script>
</body>

</html>