<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Notification Setting</title>
    <link href="notification.css" rel="stylesheet">
</head>

<body>
    <button id="coladd">　+　</button>

    <table id="table">
        <tr>
            <th id="Label_Word"> </th>
            <th id="Label_MatchType"> </th>
            <th id="Label_Sound"> </th>
            <th id="Label_Delete"> </th>
        </tr>
    </table>

    <div id="error"></div>
    <button id="okbutton">OK</button>

    <script src="notification.js"></script>
</body>

</html>