<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Action Log Setting</title>
    <link href="actionSetting.css" rel="stylesheet">
</head>

<body>
    <div>
        <input type="checkbox" id="ignoreSell" />
        <label for="ignoreSell" id="Label_ignoreSell">
            種別:売却 を表示しない
        </label>
    </div>

    <div>
        <input type="checkbox" id="ignoreGet" />
        <label for="ignoreGet" id="Label_ignoreGet">
            種別:取得 を表示しない
        </label>
    </div>

    <div>
        <input type="checkbox" id="ignoreRestaSign" />
        <label for="ignoreRestaSign" id="Label_ignoreRestaSign">
            「RestaSign」を表示しない
        </label>
    </div>

    <div>
        <input type="checkbox" id="ignoreReverserSign" />
        <label for="ignoreReverserSign" id="Label_ignoreReverserSign">
            「ReverserSign」 を表示しない
        </label>
    </div>

    <button id="okbutton">OK</button>
    <script src="actionSetting.js"></script>
</body>

</html>