<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Action Log Setting</title>
</head>

<body>
    <div>
        <label for="ignoreSell">
            <input type="checkbox" id="ignoreSell" />
            種別:売却 を表示しない
        </label>
    </div>

    <div>
        <label for="ignoreGet">
            <input type="checkbox" id="ignoreGet" />
            種別:取得 を表示しない
        </label>
    </div>

    <div>
        <label for="ignoreRestaSign">
            <input type="checkbox" id="ignoreRestaSign" />
            「RestaSign」を表示しない
        </label>
    </div>

    <div>
        <input type="checkbox" id="ignoreReverserSign" />
        <label for="ignoreReverserSign">「ReverserSign」 を表示しない</label>
    </div>

    <button id="okbutton">OK</button>
    <script src="actionSetting.js"></script>
</body>

</html>