<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Notification Setting</title>
    <link href="notification.css" rel="stylesheet">
</head>

<body>
    <button id="coladd">行を追加</button>

    <table id="table">
        <tr>
            <th class="inputtextTitle"> 文字列 </th>
            <th> 選択 </th>
            <th> 通知音 </th>
            <th> 削除 </th>
        </tr>
    </table>

    <div id="error"></div>
    <button id="okbutton">OK</button>

    <script src="notification.js"></script>
</body>

</html>